{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="{% static 'css/about.css'}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <div class="header__top">
            <div class="location">
                <i class="location__icon fa-solid fa-location-dot"></i>
                <span class="location__text">Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</span>
            </div>

            <div class="validation">
                <a href="./signup.html" class="validation__register">Đăng ký</a>
                <hr>
                <a href="./login.html" class="validation__login">Đăng nhập</a>
            </div>

            <!--User Info-->
            <div class="header__top__user close">
                <img src="./img/user.png" alt="" class="user__img">
                <span class="user__name"></span>
            </div>
        </div>

        <div class="header__center">
            <a href="./homepage.html" class="logo">
                <img class="logo__img" src="./img/plant 1.svg" alt="">
                <span class="logo__text">ORGANIC SHOP</span>
            </a>

            <div class="search-box">
                <input type="text" class="search-box__input" placeholder="Tìm kiếm sản phẩm">
                <button class="search-box__btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="wishlist-cart">
                <a href="./wish-list.html"><i class="fa-regular fa-heart"></i></a>
                <hr>
                <a class="js-popup-ticket" href="#"><i class="js-popup-ticket fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        
        <div class="navbar">
            <ul>
                <li>
                    <a href="./homepage.html">Trang chủ</a>
                    <hr>
                </li>

                <li>
                    <a href="./shop.html">Sản phẩm</a>
                    <hr>
                </li>

                <li>
                    <a href="./bloglist.html">Bài viết</a>
                    <hr>
                </li>

                <li>
                    <a href="./about.html">Giới thiệu</a>
                    <hr>
                </li>

                <li>
                    <a href="./contact.html">Liên hệ</a>
                    <hr>
                </li>
            </ul>

            <div class="phone">
                <i class="fa-solid fa-phone-volume phone__icon"></i>
                <span class="phone__number">0123456789</span>
            </div>
        </div>
    </header>

    <div class="cart-popup-wrapper js-popup">
        <div class="cart-popup js-popup-container">
            <div class="cart-popup__up">
                <div class="cart-popup__heading">
                    <h2>Giỏ hàng</h2>
                    <i class="fa-regular fa-x js-close-popup"></i>
                </div>
                
                <div class="cart-popup__products">
                    <div class="cart-popup__product">
                        <img class="cart-popup__product__img" src="./img/cải thìa.png" alt="">
                        <div class="cart-popup__product__info">
                            <p>Cải thìa</p>
                            <p>
                                <span class="product__weight">1kg x </span>
                                <span class="product__price">10.000đ</span>
                            </p>
                        </div>
                        <img class="cart-popup__product-close" src="./img/Close.svg" alt="">
                    </div>
                    <div class="line"></div>
                    <div class="cart-popup__product">
                        <img class="cart-popup__product__img" src="./img/ot chuong do.png" alt="">
                        <div class="cart-popup__product__info">
                            <p>Ớt chuông đỏ</p>
                            <p>
                                <span class="product__weight">1kg x </span>
                                <span class="product__price">10.000đ</span>
                            </p>
                        </div>
                        <img class="cart-popup__product-close" src="./img/Close.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="cart-popup__footer">
                <div class="cart-popup__footer__info">
                    <div>2 sản phẩm</div>
                    <div class="cart-popup__footer__price">20.000đ</div>
                </div>
                <button class="cart-popup__footer__checkout">Thanh toán</button> <br>
                <button class="cart-popup__footer__cart">Xem giỏ hàng</button>
            </div>
        </div>
    </div>
        
    <div class="about-body">
        <div class="nav-link">
            <div class="nav-link-text">
                <a href="./homepage.html"><i class="fa-solid fa-house"></i></a>
                <i class="right fa-solid fa-chevron-right"></i>
                <a class="nav-link--selected" href="">Giới thiệu</a>
            </div>
        </div>
        <div class="about-box">
            <div class="about-flex">
                <div class="about-flex__text">
                    <h1>Cửa hàng thực phẩm <br>hữu cơ 100% uy tín</h1>
                    <p>Chào mừng bạn đến với Organic Shop, nguồn cung cấp các sản phẩm hữu cơ và tự nhiên chất lượng cao. Chúng tôi luôn nỗ lực thúc đẩy lối sống lành mạnh bằng cách cung cấp nhiều loại hàng hóa hữu cơ tốt cho bạn.</p>
                </div>
                <img src="img/nrd-D6Tu_L3chLE-unsplash.jpg" alt="">
            </div>
            <img src="img/100organic.png" alt="" class="organic100">
            <div class="about-flex about-between">
                <img src="img/bermix-studio-XRnWMkeN5fM-unsplash.jpg" alt="">
                <div class="about-flex__text">
                    <h1>Sản phẩm luôn đạt chất lượng tốt nhất</h1>
                    <p>Tại Organic Shop, đội ngũ chuyên gia của chúng tôi luôn chọn lọc cẩn thận các sản phẩm không chứa hóa chất độc hại, thuốc trừ sâu.</p>
                    <span class="check">
                        <i class="fa-solid fa-check"></i>
                        <p>100% Organic</p>
                    </span>
                    <span class="check">
                        <i class="fa-solid fa-check"></i>
                        <p>Không hóa chất, thuốc trừ sâu</p>
                    </span>
                    <span class="check">
                        <i class="fa-solid fa-check"></i>
                        <p>Chất lượng luôn được kiểm duyệt</p>
                    </span>
                </div>
            </div>
            <div class="about-flex">
                <div class="about-flex__text">
                    <h1>Dịch vụ giao hàng<br>luôn làm bạn hài lòng</h1 >
                    <p>Cam kết giao đơn hàng của bạn một cách nhanh chóng và an toàn. Chúng tôi cung cấp các tùy chọn giao hàng sau:</p>
                    <ul>
                        <li><strong>Vận chuyển tiêu chuẩn:</strong> Tùy chọn vận chuyển tiêu chuẩn của chúng tôi sẽ giao đơn đặt hàng của bạn trong vòng 2-4 ngày.</li>
                        <li><strong>Vận chuyển nhanh:</strong> Nếu bạn cần sản phẩm sớm hơn, bạn có thể chọn dịch vụ chuyển phát nhanh trong vòng 1-2 ngày với một khoản phí bổ sung.</li>
                    </ul>
                    <a href="./shop.html" class="shop-now-btn">
                        Mua ngay
                        <i class="fa-solid fa-arrow-right arrow"></i>
                    </a>
                </div>
                <span class="img_circle">
                    <img src="img/grab-xBUDLmcyrVQ-unsplash.jpg" alt="">
                </span>
            </div>
            <div class="about-team">
                <div class="about-team__content">
                    <h1>Đội ngũ của chúng tôi</h1>
                    <p>Gặp gỡ đội ngũ tận tâm đằng sau Organic Shop. Chúng tôi là một nhóm gồm những cá nhân có chung niềm đam mê với các sản phẩm hữu cơ và cam kết cung cấp cho bạn những sản phẩm và dịch vụ tốt nhất có thể.</p>
                </div>
                <div class="about-team__members">
                    <i class="fa-solid fa-arrow-left arrow"></i>
                    <div class="about-team__member">
                        <img src="img/huy.jpg" alt="" class="about-team__member-img">
                        <div class="about-team__member-social">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <p class="about-team__member-name">Minh Huy Trần</p>
                        <p class="about-team__member-position">CEO & Founder</p>
                    </div>
                    <div class="about-team__member">
                        <img src="img/nghia.jpg" alt="" class="about-team__member-img">
                        <div class="about-team__member-social">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <p class="about-team__member-name">Đức Nghĩa</p>
                        <p class="about-team__member-position">Order Manager</p>
                    </div>
                    <div class="about-team__member">
                        <img src="img/tin.jpg" alt="" class="about-team__member-img">
                        <div class="about-team__member-social">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <p class="about-team__member-name">Tín Nguyễn</p>
                        <p class="about-team__member-position">Product Manager</p>
                    </div>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                </div>
            </div>
            <div class="client-testimonail">
                <div class="client-testimonail__title">
                    <h1>Bình luận của khách hàng</h1>
                    <div>
                        <i class="fa-solid fa-arrow-left arrow"></i>
                        <i class="fa-solid fa-arrow-right arrow"></i>
                    </div>
                </div>
                <div class="client-testimonail__boxs">
                    <div class="client-testimonail__box">
                        <img src="img/Vector.svg" alt="">
                        <p>Sản phẩm tại Organic Shop thực sự là những sản phẩm tuyệt vời! Tôi đã mua một số thực phẩm hữu cơ và chúng đều rất ngon và tươi ngon. Sẽ quay lại mua thêm!</p>
                        <div class="customer-acc">
                            <i class="fa-solid fa-user customer-acc__avatar"></i>
                            <div>
                                <p class="customer-acc__name">Customer 1</p>
                                <p>Khách hàng</p>
                            </div>
                            <div class="customer-acc__rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="client-testimonail__box">
                        <img src="img/Vector.svg" alt="">
                        <p>Dịch vụ khách hàng tại Organic Shop thực sự xuất sắc. Họ luôn sẵn sàng giúp đỡ và trả lời mọi câu hỏi của tôi. </p>
                        <div class="customer-acc">
                            <i class="fa-solid fa-user customer-acc__avatar"></i>
                            <div>
                                <p class="customer-acc__name">Customer 2</p>
                                <p>Khách hàng</p>
                            </div>
                            <div class="customer-acc__rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="client-testimonail__box">
                        <img src="img/Vector.svg" alt="">
                        <p>Tôi đã thử sản phẩm dưỡng da hữu cơ của Organic Shop và kết quả thật sự tuyệt vời. Da tôi trở nên mịn màng và sáng hơn sau khi sử dụng.</p>
                        <div class="customer-acc">
                            <i class="fa-solid fa-user customer-acc__avatar"></i>
                            <div>
                                <p class="customer-acc__name">Customer 3</p>
                                <p>Khách hàng</p>
                            </div>
                            <div class="customer-acc__rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-logo">
                <img src="img/step.svg" alt="">
                <hr>
                <img src="img/mango-1.svg" alt="">
                <hr>
                <img src="img/food2.svg" alt="">
                <hr>
                <img src="img/food.svg" alt="">
                <hr>
                <img src="img/bookoff-corporation-logo.svg" alt="">
                <hr>
                <img src="img/Gseries.svg" alt="">
            </div>
        </div>
    </div>
    <footer>
        <div class="footer__top">
            <div class="box">
                <a href="" class="logo">
                    <img class="logo__img" src="./img/plant 1.svg" alt="">
                    <span class="logo__text">ORGANIC SHOP</span>
                </a>
                <p class="contact-info">
                    <span>0123456789</span> 
                    hoặc 
                    <span>abcd@gmail.com</span>
                </p>
                <div class="social-icon">
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
    
            <div class="box">
                <h2 class="box__header">Tài khoản của tôi</h2>
                <ul>
                    <li>Thông tin tài khoản</li>
                    <li>Lịch sử đặt hàng</li>
                    <li>Giỏ hàng</li>
                    <li>Danh sách yêu thích</li>
                </ul>
            </div>
    
            <div class="box">
                <h2 class="box__header">Trợ giúp</h2>
                <ul>
                    <li>Liên lạc</li>
                    <li>Điều khoản</li>
                    <li>Chính sách bảo mật</li>
                    <li>Hướng dẫn mua hàng</li>
                </ul>
            </div>
    
            <div class="box">
                <h2 class="box__header">Danh mục</h2>
                <ul>
                    <li>Rau củ quả</li>
                    <li>Trái cây</li>
                    <li>Các loại hạt</li>
                    <li>Nước ép rau củ</li>
                </ul>
            </div>

            <div class="box">
                <h2 class="box__header">Tải ứng dụng của chúng tôi</h2>
                <div class="download">
                    <a class="ggplay" href="">
                        <i class="fa-brands fa-google-play ggplay__icon"></i>
                        <div class="ggplay__text">
                            <span>Tải xuống trên</span> <br>
                            Google Play
                        </div>
                    </a>

                    <a class="appstore" href="">
                        <i class="fa-brands fa-apple appstore__icon"></i>
                        <div class="appstore__text">
                            <span>Tải xuống trên</span> <br>
                            App Store
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div>© 2023 - Bản quyền thuộc về Organic Shop</div>
        </div>
    </footer>
    <script src="./js/closePopup.js"></script>
    <script src="./js/proceedToCheckout.js"></script>
</body>
</html>
