{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/base.css">
    <title>Document</title>
</head>
<body class="body-login">
    <div class="signup-logo">
        <a href="./homepage.html">
            <img class="logo__img" src="./img/plant 1.svg" alt="">
            <span class="logo__text">ORGANIC SHOP</span>
        </a>
    </div>
    <div class="formdn">
        <form class="js-LoginModal" action="">
            <label for="" class="formdn__tieude--fontto">Đăng nhập</label> 
            <div class="auth-form__group">
                <small></small>
                <input id="loginUsername" type="text" placeholder="Tên tài khoản" class="formdn__email">
            </div>
            <div class="auth-form__group">
                <small></small>
                <input id="loginEmail" type="email" placeholder="Email" class="formdn__email">
            </div>
            <div class="auth-form__group">
                <small></small> 
                <input id="loginPassword" type="password" placeholder="Mật khẩu" class="formdn__mk"> 
            </div>
            <div class="formdn__div3">
               <div class="formdn__nhotoi">
                  <input type="checkbox" name="nhớ_tôi" id=""> 
                  <label for="nhớ_tôi">Nhớ tôi</label> 
               </div>
               <div class="formdn__quenmk">
                  <a href="#">Quên mật khẩu?</a> 
               </div>
            </div>
            <button type="submit">Đăng nhập</button> 
            <p>Không có tài khoản? <span class="login"> <a href="./signup.html">Nhấp để tạo tài khoản </a></span></p>
        </form>
    </div>
    <script src="./js/login.js"></script>
</body>
</html>