{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/base.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <div class="header__top">
            <div class="location">
                <i class="location__icon fa-solid fa-location-dot"></i>
                <span class="location__text">Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</span>
            </div>

            <div class="validation">
                <a href="./signup.html" class="validation__register">Đăng ký</a>
                <hr>
                <a href="./login.html" class="validation__login">Đăng nhập</a>
            </div>
        </div>

        <div class="header__center">
            <a href="./homepage.html" class="logo">
                <img class="logo__img" src="./img/plant 1.svg" alt="">
                <span class="logo__text">ORGANIC SHOP</span>
            </a>

            <div class="search-box">
                <input type="text" class="search-box__input" placeholder="Tìm kiếm sản phẩm">
                <button class="search-box__btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="wishlist-cart">
                <a href="./wish-list.html"><i class="fa-regular fa-heart"></i></a>
                <hr>
                <a class="js-popup-ticket" href="#"><i class="js-popup-ticket fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        
        <div class="navbar">
            <ul>
                <li>
                    <a href="./homepage.html">Trang chủ</a>
                    <hr>
                </li>

                <li>
                    <a href="./shop.html">Sản phẩm</a>
                    <hr>
                </li>

                <li>
                    <a href="./bloglist.html">Bài viết</a>
                    <hr>
                </li>

                <li>
                    <a href="./about.html">Giới thiệu</a>
                    <hr>
                </li>

                <li>
                    <a href="./contact.html">Liên hệ</a>
                    <hr>
                </li>
            </ul>

            <div class="phone">
                <i class="fa-solid fa-phone-volume phone__icon"></i>
                <span class="phone__number">0123456789</span>
            </div>
        </div>
    </header>

    <div class="cart-popup-wrapper js-popup">
        <div class="cart-popup js-popup-container">
            <div class="cart-popup__up">
                <div class="cart-popup__heading">
                    <h2>Giỏ hàng</h2>
                    <i class="fa-regular fa-x js-close-popup"></i>
                </div>
                
                <div class="cart-popup__products">
                    <div class="cart-popup__product">
                        <img class="cart-popup__product__img" src="./img/cải thìa.png" alt="">
                        <div class="cart-popup__product__info">
                            <p>Cải thìa</p>
                            <p>
                                <span class="product__weight">1kg x </span>
                                <span class="product__price">10.000đ</span>
                            </p>
                        </div>
                        <img class="cart-popup__product-close" src="./img/Close.svg" alt="">
                    </div>
                    <div class="line"></div>
                    <div class="cart-popup__product">
                        <img class="cart-popup__product__img" src="./img/ot chuong do.png" alt="">
                        <div class="cart-popup__product__info">
                            <p>Ớt chuông đỏ</p>
                            <p>
                                <span class="product__weight">1kg x </span>
                                <span class="product__price">10.000đ</span>
                            </p>
                        </div>
                        <img class="cart-popup__product-close" src="./img/Close.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="cart-popup__footer">
                <div class="cart-popup__footer__info">
                    <div>2 sản phẩm</div>
                    <div class="cart-popup__footer__price">20.000đ</div>
                </div>
                <button class="cart-popup__footer__checkout">Thanh toán</button> <br>
                <button class="cart-popup__footer__cart">Xem giỏ hàng</button>
            </div>
        </div>
    </div>

    <div class="order-detail">
        <div class="nav-link">
            <div class="nav-link-text">
                <a href="./homepage.html"><i class="fa-solid fa-house"></i></a>
                <i class="right fa-solid fa-chevron-right"></i>
                <a href="./acc.html">Thông tin cá nhân</a>
                <i class="right fa-solid fa-chevron-right"></i>
                <a href="./orderhistory.html">Lịch sử đặt hàng</a>
                <i class="right fa-solid fa-chevron-right"></i>
                <a class="nav-link--selected" href="">Chi tiết đơn đặt hàng</a>
            </div>
        </div>

        <div class="account-menu-wrapper">
            <div class="address-wrapper__menu">
                <div class="title">Thông tin cá nhân</div>
                <div class="list">
                    <div class="list__item">
                        <a href="./acc.html">
                            <i class="list__icon fa-solid fa-address-card"></i>
                            <span>Tài khoản</span>
                        </a>
                    </div>
                    <div class="list__item">
                        <a href="./sodiachi.html">
                            <i class="list__icon fa-solid fa-address-book"></i>
                            <span>Sổ địa chỉ</span>
                        </a>
                    </div>
                    <div class="list__item selected_item">
                        <a href="./orderhistory.html">
                            <i class="list__icon fa-solid fa-wallet"></i>
                            <span>Lịch sử đặt hàng</span>
                        </a>
                    </div>
                    <div class="list__item">
                        <a href="./account wish-list.html">
                            <i class="list__icon fa-solid fa-heart "></i>
                            <span>Danh sách yêu thích</span>
                        </a>
                    </div>
                    <div class="list__item">
                        <a href="./homepage.html">
                            <i class="list__icon fa-solid fa-arrow-right-from-bracket"></i>
                            <span>Đăng xuất</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="order-detail-wrapper">
                <div class="order-detail__header">
                    <h1>Chi tiết đơn đặt hàng</h1>
                    <p><span class="dot">・</span> 01/11/2023<span class="dot">・</span>3 sản phẩm</p>
                    <a href="">Về danh sách</a>
                </div>

                <div class="order-detail__infor">
                    <div class="infor__address">
                        <div class="address__receive">
                            <h2 class="infor__header">Người nhận</h2>
                            <div class="infor__content">
                                <p class="infor-content__name">Nguyễn Văn A</p>
                                <p>
                                    <div>
                                        số 3, đường 123, ấp 1A, xã Hòa Phú, huyện Củ Chi, TP.HCM 
                                    </div>
                                    
                                    <p class="infor-content__title">Email</p>
                                    nguyena123@gmail.com <br><br>
                                    <p class="infor-content__title">Số điện thoại</p>
                                    0927462814
                                </p>
                                
                            </div>
                        </div>

                        <div class="address__send">
                            <h2 class="infor__header">Người gửi</h2>
                            <div class="infor__content">
                                <p class="infor-content__name">Trần Thị B</p>
                                <p>
                                    <div>
                                        256 Đường Nguyễn Văn Tuôi, thị trấn Bến Lức, huyện Bến Lức, tỉnh Long An
                                    </div> 
                                        
                                    <p class="infor-content__title">Email</p>
                                    tranthib456@gmail.com <br><br>
                                    <p class="infor-content__title">Số điện thoại</p>
                                    0327649769
                                </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="infor__price">
                        <div class="infor-price__header">
                            <div class="order-id">
                                <p class="order-id__title">ID Đơn hàng</p>
                                <p class="order-id__content">#3933</p>
                            </div>
                            <div class="payment-method">
                                <p class="payment-method__title">Phương thức thanh toán</p>
                                <p class="payment-method__content">Tiền mặt</p>
                            </div>
                        </div>

                        <div class="infor-price__body">
                            <div class="infor-price-body__row">
                                <span>Tổng giá</span>
                                220.000đ
                            </div>
                            <div class="infor-price-body__row">
                                <span>Giảm giá</span>
                                0%
                            </div>
                            <div class="infor-price-body__row">
                                <span>Phí ship</span>
                                Miễn phí
                            </div>
                            <div class="infor-price-total">
                                Thành tiền
                                <span>220.000đ</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="order-detail__process">
                    <div class="process-bar">
                        <div class="process-bar--active-50"></div>
                    </div>
                    <div class="process-trackings">
                        <div class="process-tracking process-tracking--active">
                            <span>01</span>
                            <p>Đã đặt hàng</p>
                        </div>
                        <div class="process-tracking process-tracking--active">
                            <span>02</span>
                            <p>Đang xử lý</p>
                        </div>
                        <div class="process-tracking">
                            <span>03</span>
                            <p>Đang vận chuyển</p>
                        </div>
                        <div class="process-tracking">
                            <span>04</span>
                            <p>Đã giao hàng</p>
                        </div>
                    </div>
                </div>

                <div class="order-detail__products">
                    <div class="products__header">
                        <p>Sản phẩm</p>
                        <p>Giá tiền</p>
                        <p>Số lượng</p>
                        <p>Tổng tiền</p>
                    </div>
                    <div class="products__list">
                        <div class="products__row">
                            <div>
                                <img src="./img/ot chuong do.png" alt="">
                                Ớt chuông đỏ
                            </div>
                            <span>12.000đ</span>
                            <span>x5</span>
                            <span>60.000đ</span>
                        </div>
                        <div class="products__row">
                            <div>
                                <img src="./img/ớt chuông.png" alt="">
                                Ớt chuông xanh
                            </div>
                            <span>12.000đ</span>
                            <span>x5</span>
                            <span>60.000đ</span>
                        </div>
                        <div class="products__row">
                            <div>
                                <img src="./img/ot xanh.png" alt="">
                                Ớt sừng xanh
                            </div>
                            <span>10.000đ</span>
                            <span>x10</span>
                            <span>100.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer__top">
            <div class="box">
                <a href="" class="logo">
                    <img class="logo__img" src="./img/plant 1.svg" alt="">
                    <span class="logo__text">ORGANIC SHOP</span>
                </a>
                <p class="contact-info">
                    <span>0123456789</span> 
                    hoặc 
                    <span>abcd@gmail.com</span>
                </p>
                <div class="social-icon">
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
    
            <div class="box">
                <h2 class="box__header">Tài khoản của tôi</h2>
                <ul>
                    <li>Thông tin tài khoản</li>
                    <li>Lịch sử đặt hàng</li>
                    <li>Giỏ hàng</li>
                    <li>Danh sách yêu thích</li>
                </ul>
            </div>
    
            <div class="box">
                <h2 class="box__header">Trợ giúp</h2>
                <ul>
                    <li>Liên lạc</li>
                    <li>Điều khoản</li>
                    <li>Chính sách bảo mật</li>
                    <li>Hướng dẫn mua hàng</li>
                </ul>
            </div>
    
            <div class="box">
                <h2 class="box__header">Danh mục</h2>
                <ul>
                    <li>Rau củ quả</li>
                    <li>Trái cây</li>
                    <li>Các loại hạt</li>
                    <li>Nước ép rau củ</li>
                </ul>
            </div>

            <div class="box">
                <h2 class="box__header">Tải ứng dụng của chúng tôi</h2>
                <div class="download">
                    <a class="ggplay" href="">
                        <i class="fa-brands fa-google-play ggplay__icon"></i>
                        <div class="ggplay__text">
                            <span>Tải xuống trên</span> <br>
                            Google Play
                        </div>
                    </a>

                    <a class="appstore" href="">
                        <i class="fa-brands fa-apple appstore__icon"></i>
                        <div class="appstore__text">
                            <span>Tải xuống trên</span> <br>
                            App Store
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div>© 2023 - Bản quyền thuộc về Organic Shop</div>
        </div>
    </footer>
    <script src="./js/closePopup.js"></script>
    <script src="./js/proceedToCheckout.js"></script>
</body>
</html>