.contact-box {
    display: flex;
    margin: 50px 0;
    padding: 0 160px;
    height: fit-content;
    color: #333;;
    font-size: 14px;
}

.contact-box__info {
    width: 260px;
    box-shadow: 0px 0px 26px 0px rgba(0, 38, 3, 0.05);
    border-radius: 8px;
    padding: 0 20px;
    margin-right: 24px;
}

.contact-box__info div{
    height: 170px;
    text-align: center;
    padding: 24px 0;
} 

.contact-box__info div i {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.contact-between {
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
}

.contact-box__content {
    width: 910px;
    box-shadow: 0px 0px 26px 0px rgba(0, 38, 3, 0.05);
    border-radius: 8px;
    padding: 50px;
}

.contact-box__content p{
    color: #808080;
}

.contact-box__content input,
.contact-box__content textarea {
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    outline: none;
}

.contact-box__content input::placeholder,
.contact-box__content textarea::placeholder {
    color:#B3B3B3;
}

.contact-box__content .flex-box {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.contact-box__content .flex-box input {
    width: 33%;
    height: 40px;
    text-indent: 10px;
}

.contact-box__content .contact-title {
    width: 100%;
    margin: 15px 0;
    height: 40px;
    text-indent: 10px;
}
.contact-box__content .contact-subject {
    min-width: 100%;
    max-width: 800px;
    margin: 15px 0;
    min-height: 100px;
    text-indent: 10px;
    padding: 10px 0;
} 

.send-btn {
    margin: 15px 0;
    color: rgb(223, 239, 223);
    border-radius: 15px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 30px;
    width: 150px;
    height: 30px;
}

.send-btn:hover {
    background-color: rgb(223, 239, 223);
    cursor: pointer;
    color: var(--primary-color);
}


.contact-map {
    width: 100%;
    height: 400px;
    border: 0;
}